#bell{
    font-size: 20px;
    color: #8d2512;
}
.btn1{
    font-size: 30px;
    color: #9c1918;
}
.btn2{
    background-color: #9c1918;
    border-radius: 25px;
    color: #ffffff;
    padding: 10px;
    width: 100%;
    font-family: inherit;
    margin-bottom: 10px;
}
.imagen1{
    height: 49px;
    width: 120px;
}

#plus{
    font-size: 20px;
  
    color: #8d2512;
}
.post{
    width: 70%;
    height: 200px;
    background-color: #9c1918;
    color: #ffffff;
    border-radius: 40px;
    margin-top: 46px;
    padding: 26px;
    font-family: "trebuchet ms", tahoma, verdana, sans­serif;
    font-size: 1.4em;
}
.post input{
    background: transparent;
    border: none;
    min-width: auto;
    color: #ffffff !important;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 35px;

}
.transparent-input:focus{
    background: transparent;

}
.post:before {
    content:"";
    position: absolute;
    width: 0;
    height: 0;
    border-top: 39px  solid transparent;
    border-right: 37px    solid #9c1918;
    border-bottom: 20px solid transparent;
    margin: 10px 0 0 ­32px;
    left: -29px;
    top: 77px;
}
.post input::placeholder { color: #ffffff; }

.topbar{
    background: linear-gradient(to left, #eab2b0d6 ,#e8f3e6d4 );
    height: 100%;
}
.txt{
    color: #8d2512;
}
#user{
    font-size: 20px;
   
    color: #8d2512;
}
.input-wrapper {
	position: relative;
	width: 100%;
}
.input-icon {
	color: #191919;
    position: absolute;
    width: 20px;
    height: 20px;
    right: 12px;
    top: 45%;
    transform: translateY(-50%);
}
@media(max-width:320px){
    .post{
        height:80px;
        width: 0px;
        padding-left: 70px;
        margin-top: 20px;
    }
    .post:before{
        height: 50px;
        top: 16px;
        left: -6px;
        width: 11px;
        transform: rotate(275deg); 
    }
    .post input{
        font-size: 20px;
        width: 157px;
        height: 29px;
        color: #ffffff !important;

    }
    .post input::placeholder { color: #ffffff; }
  }